---
title: Debut Album Never Happy, Ever After Available April 20th (UK) & April 21st (US) | Pre-order Now!
---
<div class="tweet-badge"><img src="https://s3.amazonaws.com/myfangate.com/asitis/tweetbadge.png"></div>
<div class="container">
  <!-- header -->
  <div class="row header">
    <div class="col-lg-10 col-lg-offset-1">
      <h1 class="headline smaller">preorder the new album <span>'never happy ever after'</span> from</h1>
    </div>
    <div class="col-lg-8 col-lg-offset-2">
      <img class="head" src="https://s3.amazonaws.com/myfangate.com/asitis/logo.png">
    </div>
    <div class="col-lg-3 col-lg-offset-2">
      <img class="img-responsive artwork" src="https://s3.amazonaws.com/myfangate.com/asitis/albumcover.jpg">
    </div>
    <div class="col-lg-5 preorder-head">
      <h1 class="headline">Available</h1>
      <div class="dates"><h1 class="headline">April 20 <img class="flag" src="https://s3.amazonaws.com/myfangate.com/asitis/unionjack.png">April 21 <img class="flag" src="https://s3.amazonaws.com/myfangate.com/asitis/usflag.png"></h1></div>
      <br>
      <h1 class="headline restrict">
        <span>ALL PRE-ORDERs include an instant download of </span>
      </h1>
      <h1 class="headline">“DIAL TONES”</h1>
    </div>
  </div>
  <%= partial "partials/video" %>
  <%= partial "partials/digital-pre" %>
  <%= partial "partials/physical-pre" %>
  <%= partial "partials/tweet" %>
  <!-- Social Wall  -->
  <%= partial "partials/social-wall" %>
  <%= partial "partials/footer" %>
</div>
